/* Shared Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(26, 11, 46, 1);
    color: #FFFFFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.h1 {
    font-size: 60px;
    font-weight: 800;
}

.h2 {
    font-size: 48px;
    font-weight: 700;
}

.h3 {
    font-size: 24px;
    font-weight: 700;
}

.body-16px {
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
    opacity: 80%;
}

.body-2-16px {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    opacity: 60%;
}

header ul {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    color: white;
    transition: all 300ms ease-in-out;
}

.menu a:hover {
    color: rgba(200, 7, 145, 1);
}

/* Navbar Style */

.header {
    padding: 24px 24px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 32px;
}

.hamburger {
    visibility: hidden;
}

.btn {
    padding: 12px 16px;
    background-image: linear-gradient(53deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    display: flex;
    gap: 4px;
    border: none;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}


/* Hero Section */

.hero {
    padding: 100px 24px;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.microphone-wrapper {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.microphone {
    position: absolute;
}

.new-text {
    font-size: 18px;
    font-weight: 600;
    color: #1A0B2E;
    padding: 8px 16px;
    background-color: rgba(0, 255, 136, 1);
    box-shadow: 0 3px 27px rgba(0, 255, 136, 0.5);
    border-radius: 999px;
    position: absolute;
    top: 12px;
    right: 23px;
}

.hero-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.hero-button {
    padding: 12px 20px;
    background-image: linear-gradient(53deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

.border-btn {
    padding: 12px 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(0, 255, 136, 1);
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 255, 136, 1);
    cursor: pointer;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}

/* About */

.about{
    padding: 40px 24px 120px 24px;
}

.about-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.about-title{
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    max-width: 795px;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    opacity: 10%;
}

.stats-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 40px;
    text-align: center;
    width: 100%;
}

.stats-wrapper h2{
    color: rgba(0, 255, 136, 1);
    margin-bottom: 16px;
}

/* Why */

.why-choose-us{
    padding: 120px 24px;
    background-color: rgba(35, 14, 61, 1);
}

.why-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.why-cards-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.why-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}

.card-1 {
    grid-row: span 2;
}

.card-2 {
    grid-column: span 2;
}

/* Apps */

.apps{
    padding: 120px 24px;
}

.episode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 120px;
}

.episode-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.episode-card{
    border-radius: 24px;
    overflow: hidden;
}

.episode-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: rgba(37, 13, 68, 1);
}

.duration{
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
}

.host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.host-speech{
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}

.speech{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.speech h3{
    font-size: 32px;
    font-weight: 700;
}

.socials{
    display: flex;
    gap: 8px;
}

.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 999px;
    border: 1px solid rgba(83, 60, 114, 1);
}

.social-icon img{
    width: 20px;
}

/* Mobile Style */

@media screen and (max-width:768px) {

    .h1 {
        font-size: 40px;
    }

    .h2 {
        font-size: 32px;
    }

    .h3{
        font-size: 20px;
    }

    .header {
        padding: 20px;
    }

    .navbar {
        display: block;
    }

    .brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 136px;
        height: auto;
    }

    .hamburger {
        visibility: visible;
    }

    .menu {
        visibility: hidden;
    }

    .header-btn {
        visibility: hidden;
    }

    .hero {
        padding: 40px 20px;
    }

    .hero-content-wrapper {
        gap: 24px;
    }

    .circle {
        width: 200px;
        height: 200px;
    }

    .microphone {
        height: 80px;
    }

    .new-text {
        top: 4px;
        right: 0;
    }

    .hero-buttons {
        flex-wrap: wrap;
    }

    .about{
    padding: 40px 20px;
}

.about-content-wrapper{
    gap: 40px;
}

.stats-wrapper{
    grid-template-columns: repeat(2, 1fr);
}

.why-choose-us{
    padding: 40px 20px;
    
}

.why-cards-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.why-content-wrapper h2{
    text-align: center;
}

.why-content-wrapper{
    gap: 16px;
}

.why-card{
    padding: 24px;
    border-radius: 24px;
}

.apps{
    padding: 40px 20px;
}

.episode{
    gap: 24px;
    margin-bottom: 60px;
}

.episode-wrapper{
    flex-direction: column;
    gap: 16px;
}

.episode-content{
    padding: 16px;
    gap: 8px;
}

.host{
    gap: 24px;
}

.host-speech{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px;
    gap: 16px;
}

.speech{
    justify-content: center;
    align-items: center;
}

}